/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Caveat", cursive;
    font-weight: 700;
    
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem
}

P {
    margin: 0;
}

body {
    margin: 0;
    text-align: center;
    font-size: 1.125rem;
    font-family: sans-serif;
    color: #030A1B;
}

img {
    width: 100px;
}

.section-hero {
    height: 800px;
    color: white;
    text-shadow: 0 0 1rem purple;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./images/singapore-hero.jpg");
    background-size:cover;
    background-position: 0 50%;
}


.hero-content-wrapper {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-content-wrapper h1 {
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: rgba(81, 80, 108, 0.801);
    border-radius: 1rem;
}

.section.activities {
    padding: 2.5rem 0;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activities-wrapper {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    
}

.activities-wrapper img {
    border-radius: 50%;
    width: 120px;
}

.activities-content-wrapper {
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.guide-content-wrapper {
    padding: 2rem 1rem;
    background-color: pink;
    width: 400px;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0 black;
    
}

.guide-content-wrapper img {
    width: 200px;
}

.guide-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}